<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @work_time_type.name %>
</p>


<%= link_to 'Edit', edit_work_time_type_path(@work_time_type) %> |
<%= link_to 'Back', work_time_types_path %>
